<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="com.yandex.maps.mobile" />

    <application
        android:usesCleartextTraffic="true"
        tools:targetApi="36"
        tools:ignore="GoogleAppIndexingWarning"
        android:icon="@mipmap/cool"
        android:roundIcon="@mipmap/cool_round"/>
</manifest>
