<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>631288319306-6ptnmu2ppdocoqj76424i2jr3tq28nap.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.631288319306-6ptnmu2ppdocoqj76424i2jr3tq28nap</string>
	<key>API_KEY</key>
	<string>AIzaSyCJ9wghSiIYx1pBlJBF4VgBo1-2LKWtgV4</string>
	<key>GCM_SENDER_ID</key>
	<string>631288319306</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.NoobDragons.MpeiApp</string>
	<key>PROJECT_ID</key>
	<string>mpeiapp-3f11f</string>
	<key>STORAGE_BUCKET</key>
	<string>mpeiapp-3f11f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:631288319306:ios:62e2e3ab46c0fbf77bc5b3</string>
</dict>
</plist>